*{
    font-family: "Times New Roman", Georgia, Serif;
}
.navbar-brand{
    letter-spacing: 4px;
}
.navbar-brand:hover{
    background-color: gray;
    max-width: 100%;
}
.navbar-nav li{
    letter-spacing: 4px;
}
.img{
    position: relative;
}
.hero{
    width: 100%;
    height: auto;
}
.txt{
    position: absolute;
    bottom: 10px;
    left: 3%;
}
.txt h2{
    font-size: 2.5em;
    color: #565252;
    letter-spacing: 4px;
}
.animated{
    background: black;
}
.anim{
   text-align: right;
    margin-top: 70px;
    
    color: lightgray;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0% {
      left: 0;
      transform: translate(-100%);
    }
    100% {
      left: 100%;
      transform: translate(0);
    }
  }

.cater{
    width: 100%;
    min-height: auto;
    opacity: 0.9;
    transition: 0.4s ease;
    transform-origin: 50% 50%;
    
}
.cater:hover{
    transform: scale(1.2);
    width: 80%;
}
.mate{
    background-color: black;
}
#about{
    letter-spacing: 4px;
    font-size: 2.5em;
}
#aboutus{
    letter-spacing: 4px;
    font-size: larger;
}
.about_txt1{
    font-size: 1.3em;
}
.about_txt2{
    font-size: 1.3em;
}
.items h5{
    letter-spacing: 4px;
}
.menu_img{
    max-width: 100%;
    height: auto;
    opacity: 0.9;
    transition: 0.4s ease;
    transform-origin: 50% 50%;
    
}
.menu_img:hover{
    transform: scale(1.2);
    width: 80%;
}

#input{
    height: 60px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: inherit;
}
@media (max-width : 1200px){
    .about_txt2{
        display: none;
    }
    
}

@media (max-width : 767px){
    .about_txt2{
        display:ruby ;
    }
    .cater{
        display: none;
    }
}